@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');

.mainheader {
    padding: 2rem;

    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }

    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;


    }

    &__social {
        margin-top: 70px;
        display: flex;
        column-gap: 52px;
    }

    &__image {
        position: relative;
        &_first {
            position: absolute;
            left: -30px;
            bottom: 0;
        }
        &_second {
            position:absolute;
            bottom: -100px;
            left: 130px;
        }
        &_third {
            position: absolute;
            bottom: 0;
            right: -20px;
        }

    }

}

.title {
    @font-face {
        font-family: 'Gilroy';
        src: url('../../../public/fonts/Gilroy-ExtraBold.otf');
    }

    h1 {
        color: #232323;
        font-size: 96px;
        font-family: Gilroy;
        font-weight: 800;
        line-height: 108px;
    }

    &__restaurant {
        position: relative;
        color: #FF9401;
        font-size: 24px;
        font-family: Gilroy;
        font-weight: 600;
        line-height: 30px;

        &::before {
            position: absolute;
            bottom: 25%;
            left: -27px;

            content: '';
            width: 27px;
            height: 1px;
            border-radius: 0.5px;
            background: #FF9401;
        }
    }

    &__description {
        color: #3F3232;
        font-size: 20px;
        font-family: Gilroy;
        line-height: 160%;
    }

button {
border-radius: 31px;
background: #FF9401;
padding: 1rem 2rem;
margin-top: 44px;
color: #fff;
font-size: 20px ;
font-family: 'Playfair Display';

}
}