@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');

.navigation {
    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;



    &__logo {
        display: flex;
        gap: 0.5rem;

        font-size: 22px;
        font-family: 'Playfair Display';
        font-weight: 700;
        line-height: 30px;
    }

    &__icons {
        &__list {
            display: flex;
            column-gap: 62px;
                &_icon {
                    svg {
                        max-width: 26px;
                    }
                }
            &_icon:hover {
                svg {
                    fill: #FF9401;
                    cursor: pointer;
                }
            }
        }
    }

@media (max-width:465px) {
    justify-content: center;
    flex-direction: column;
}

}
