@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');



.testimonial {

    margin-top: 128px;


    &__container {
        max-width: 1200px;
        margin: 0 auto;

        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row-reverse;
            padding: 1rem;


        }
    }
}

.title {

    h1 {
        @font-face {
            font-family: Gilroy;
            src: url('../../../public/fonts/Gilroy-Light.otf');
        }

        color: #2E2E2E;
        font-size: 52px;
        font-family: Gilroy;
        font-weight: 700;
        line-height: 60px;
        width: 70%;
    }

    &__about {
        color: #FF9401;
        font-size: 24px;
        font-family: Gilroy;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 24px;
    }

    &__text {
        color: #3F3232;
        font-size: 18px;
        font-family: 'Playfair Display';
        font-style: italic;
        font-weight: 500;
        line-height: 160%;
        width: 60%;
    }

    &__review {
        margin-top: 45px;
        font-family: Gilroy;
        
    }

}

.image {
    width: 100%;
    

}