@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');


    
.takeaway {

    min-height: 686px;
    margin-top: 128px;
    

    &__container {
        max-width: 1200px;
        margin: 0 auto;

        &__wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            
        }
    }
}

.title {
    width: 40%;
    h1 {
        @font-face {
            font-family: Gilroy;
            src: url('../../../public/fonts/Gilroy-ExtraBold.otf');
        }
        color: #2E2E2E;
        font-size: 52px;
        font-family: Gilroy;
        font-weight: 700;
        line-height: 60px;
    }
    &__about {
        color: #FF9401;
        font-size: 24px;
        font-family: Gilroy;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 24px;
    }
    &__text {
        color: #3F3232;
        font-size: 20px;
        font-family: 'Playfair Display';
        font-weight: 450;
        line-height: 160%;
        margin-top: 21px;
        margin-bottom: 48px;
    }

    &__buttons {
        img {
           width: 200px;
        }

 display: flex;
 flex-wrap: wrap;
    }

}

.image {
    position: relative;

    &__food {
position: absolute;
left: -200px;
bottom: 100px;
z-index: -2;
    }
}